@media screen and (min-width: 425px) {
  .profile .content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }

  .projects .projects-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .projects .projects-list > li {
    height: 56rem;
    width: 100%;
    max-width: 50rem;
  }

  .projects .projects-list > li article > div > img {
    width: 100%;
    object-fit: cover;
    height: 22rem;
  }

  .projects .projects-list > li article > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 25rem;
  }
}

@media screen and (min-width: 600px) {
  .skills .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 755px) {
  .projects .projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .projects .projects-list > li {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .projects .projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .projects .projects-list > li {
    width: 100%;
    max-width: 34rem;
  }
}
